/* Variables */
:root {
    --primary-color:
    --secondary-color: 
    --tertiary-color: 
}

/* Universal Selectors */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Default font-size */
html {
    font-size: 62.5%;
}

/* Font Styles */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero {
    background-color: #3f37c9;
}

.app-title {
    font-size: 5rem;
    color: #f5f3f4;
    text-align: center;
    padding: 10px 10px;
}

h2 {
    font-size: 4rem;
    font-weight: bold;
}

.form-control {
    padding: 15px 15px;
    text-align: left;
    font-size: 2rem;
    margin-top: 15px;
}

.btn-primary {
    width: 100%;
    padding: 5px 5px;
    font-size: 2rem;
    margin-top: 15px;
}

#display {
    border: solid 2px black;
    margin-top: 10px;
    line-height: 2.5;
}

#display h2 {
    padding-top: 5px;
    padding-left: 5px;
}

p {
    font-size: 2rem;
    font-weight: bold;
    padding-left: 5px;
}

.line {
    border-top: solid 2px black;
    margin-top: 15px;
    width: 100%;
}

h3 {
    font-size: 3rem;
    font-weight: bold;
    padding: 15px 0;
}

.forecast p {
    font-size: 2rem;
    color: #ffffff;
    background-color: #4a4e69;
}

